.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  color: black;
  background-color: #dedbe5;
}
.expense-item__description {
  display: flex;
  grid-gap: 1rem;
  gap: 1rem;
  align-items: center;
  flex: 01;
}
.expense-item__description h2 {
  flex: 1;
  margin: 0 1rem;
}

.items__Date {
  padding: 0.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
}
.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 4rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 0.75rem;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}

.items__Amount {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  width: 4.5rem;
  height: 3rem;
  text-align: center;
}

.delete_button {
  max-width: 5%;
  max-height: 2%;
}
